{% extends "base.html" %}

{%block content %}
<div id="id_content">
    <p>
    <a href="{{back}}" class="btn btn-default">Back</a>
   </p>      
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <i class="glyphicon glyphicon-tasks">{%if namespace == 'housekeep'%} Housekeeping{%else%}Infrastructure{%endif%} Task Details</i>
        </div>
        <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Title:</dt><dd>{{task.title}}</dd>
            <dt>Description:</dt><dd>{{task.desc}}</dd>
            <dt>Location:</dt><dd>{{task.get_floor_display}} -> {{task.get_room_display}}</dd>
            <dt>Priority:</dt><dd>{{ task.get_priority_display }}</dd>
            <dt>Status:</dt><dd>{{ task.get_status_display }}</dd>
            <dt>Created By:</dt><dd>{{created_by}} on {{task.created}}</dd>
            <dt>Modified By: </dt><dd>{{created_by}} on {{task.modified}} </dd>
            <dt>Repeatable: </dt><dd>{{task.repeatable}}</dd>
        </dl>

    </div><!-- panel default -- >
</div><!-- id content -->

{%endblock%}

